.logo {
	@include Responsive(XS) {
		text-align: center;
	}
}
.menu {
	display: flex;
	margin-right: 124px;
	@include Responsive(SM) {
		margin-right: 0;
	}
	li {
		padding: 10px 15px;

		a {
			font-size: 24px;
			color: #FFF;
			text-decoration: none;
			@include Responsive(XS) {
				font-size: 12px;
			}
		}

	}
    li:hover {
        animation-duration: .75s;
        animation-name: tada;
    }
}
.welcome {
	height: 100vh;
}
.whatido, .portfolio {
	display: flex;
    width: 100%;
    justify-content: center;
	li {
		margin: 10px;
	}
}
input {
	margin: 5px 0;
}