@font-face {
  font-family: 'Changa One';
  font-style: normal;
  font-weight: 400;
  src: url("../lib/xfu00W3wXn3QLUJXhzq42AHiuQ.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@keyframes tada {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  10%,
	20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg); }
  30%,
	50%,
	70%,
	90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg); }
  40%,
	60%,
	80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg); }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }
body {
  font-family: 'Changa One';
  font-size: 24px;
  color: #fff;
  background-color: #000; }
  @media only screen and (max-width: 480px) {
    body {
      font-size: 12px; } }

ol,
ul,
li {
  list-style-type: none; }
  @media only screen and (max-width: 480px) {
    ol,
    ul,
    li {
      padding: 0; } }

header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }
  header ol {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 480px) {
      header ol {
        display: unset; } }

footer ol {
  display: flex;
  justify-content: space-between; }

button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: rgba(0, 0, 0, 0.6);
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0 0.25em 0 0;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease, -webkit-box-shadow .1s ease; }

button:hover {
  background-color: #cacbcd;
  background-image: none;
  -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  color: rgba(0, 0, 0, 0.8); }

@media only screen and (max-width: 480px) {
  .logo {
    text-align: center; } }

.menu {
  display: flex;
  margin-right: 124px; }
  @media only screen and (max-width: 768px) {
    .menu {
      margin-right: 0; } }
  .menu li {
    padding: 10px 15px; }
    .menu li a {
      font-size: 24px;
      color: #FFF;
      text-decoration: none; }
      @media only screen and (max-width: 480px) {
        .menu li a {
          font-size: 12px; } }
  .menu li:hover {
    animation-duration: .75s;
    animation-name: tada; }

.welcome {
  height: 100vh; }

.whatido, .portfolio {
  display: flex;
  width: 100%;
  justify-content: center; }
  .whatido li, .portfolio li {
    margin: 10px; }

input {
  margin: 5px 0; }

/*# sourceMappingURL=style.css.map */
